<div class='about-container'>
  <h1>Paikuについて</h1>

  <h2>Paikuを作ったきっかけ</h2>
  <p>私はTwitterが大好きなのですが、Twitterでは140文字という制限付きの中で自由に発信することができます。
    この140文字制限は特別なことではないように感じますが、Twitterの良さというものをこの140字に感じていました。
    それアレンジを加えたのが575のPaikuです。
  </p>
  <br />
  <p>話は変わりますが皆さん<a href='https://www.mbs.jp/p-battle/'>プレバト</a>という番組を知っていますか？</p>
  <p>プレバトは大阪のテレビ局であるMBSが放送している、俳句を主として様々な才能にランキングをつけていくテレビ番組です。
    芸能人が与えられたテーマに沿って俳句を考え、夏井いつき先生によって採点、添削されます。
    この時の夏井先生のコメントと司会のダウンタウンの浜田さんや梅沢富美男さんとのやりとりが 非常に面白いです。
    私は毎週この番組を楽しみにしています。
  </p>
  <br />
  <p>このプレバトは長寿番組でwikipeadiaによると2012年から続いているそうです。
    日本人は俳句が好きなんだとぼんやりと思ったときにTwitterの俳句版を作ればいいのではないかと思い立ちました。
    しかし、もう既に俳句を作るwebアプリケーションなんてあるはずじゃやないかと思ってネット上を探しましたが
    意外に無い。じゃあ作ってみようと開発を始めました。
  </p>

  <h2>Paikuの遊び方</h2>
  <p>Paikuで句を投稿するのは簡単です。Twitterと同じように投稿フォームに句を入力するだけです。</p>
  <p>575の型を取ると書いてありますが、これは厳密ではありません。それぞれの上、中、下句でで最大10文字以内であれば
    どのような形でも投稿できます。一文でも問題ありません。
  </p>
  <br />
  <p>投稿は読点「、」で文ごとに区切りる必要があります</p>

  <p class='post-example'>読点を、打てば分割、句が書ける</p>

  <div class='separate'>
    <p>読点を</p>
    <p>打てば分割</p>
    <p>句が書ける</p>
  </div>

  <p>タグを追加したい場合は半角のシャープ「#」を句の最後に入力してタグ名を記入するだけです。</p>

  <p class='tag-example'>#haiku #paiku #575 #俳句</p>

  <h2>Paikuの名前の由来</h2>
  <p>最初は575という名前で開発していましたが、あまりにも抽象的な名称であるため、検索でも使いづらいと判断し
    他の名称を考えていました。
  </p>
  <p>俳句を英語ではなんと呼ぶのだろうかと調べたところHaikuとそのままだったので
    俳句という単語自体全世界で知れ渡っているのだなと感じました。ということでこの言葉の
    イントネーションやイメージを可能なかぎり引き継ぎたいと思い、検討したところ、アプリケーションの
    コンセプトイメージとして笹とパンダを利用することは決まっていたので、パンダのPを取ってきて
    Hを置き換え「Paiku」という名称になりました。意外と適当です。
  </p>
</div>