<div class='cd-pane'>
  <div class='loader-base'>
    <div class='loader-upper-block'>
      <div class='loader-circle animated-bg'></div>
      <div class='loader-names-container'>
        <p class='loader-bar-h animated-bg'></p>
        <p class='loader-bar-h animated-bg'></p>
      </div>
    </div>

    <div class='loader-center-block'>
      <p class='loader-bar-v animated-bg'></p>
      <p class='loader-bar-v ldv-center animated-bg'></p>
      <p class='loader-bar-v animated-bg'></p>
    </div>

  </div>
</div>