          <div class="cd-pane">

            <div class="cd-base">
              <div class="cd-upper-block">
                <img src="/img/temp/temp_icon_02.png" class="self-icon cd-self-icon" alt="">
                <div class="cd-names-container">
                  <p class="cd-user-name">JavaScript</p>
                  <p class="cd-account-name">@javascript001</p>
                </div>
                <p class="cd-post-date">2022/2/1</p>
              </div>

              <div class="cd-center-block">
                <p class="cd-text-1">朝起きて</p>
                <p class="cd-text-2">アラーム止めて</p>
                <p class="cd-text-3">またお布団</p>
              </div>

              <div class="cd-bottom-block">
                <div class="cd-level-bar"></div>
                <div class="cd-reaction-btn">
                  <div class="cd-icons">
                    <button class="cd-heart-button"></button>
                  </div>
                  <div class="cd-icons">
                    <button class="cd-up-button"></button>
                  </div>
                  <div class="cd-icons">
                    <button class="cd-comment-button"></button>
                  </div>
                </div>
              </div>
            </div>

            <div class="cd-back">
              <div class="back-container">
                <div class="tags-container">
                  <p>
                    <span>#キーボード</span>
                    <span>#PC</span>
                    <span>#お祭り</span>
                    <span>#KeychronQ1</span>
                    <span>#史上7連覇</span>
                  </p>
                </div>
                <div class="back-center"></div>
                <div class="cd-reaction-btn back">
                  <div class="back-icons-container">
                    <div class="icon-wrap">
                      <div class="cd-icons back">
                        <button class="cd-heart-button"></button>
                      </div>
                        <p>1240</p>
                    </div>
                    <div class="icon-wrap">
                      <div class="cd-icons back">
                        <button class="cd-up-button"></button>
                      </div>
                        <p>2</p>
                    </div>
                    <div class="icon-wrap">
                      <div class="cd-icons back">
                        <button class="cd-comment-button"></button>
                      </div>
                        <p>24202</p>
                    </div>

                  </div>
                </div>
                <img class="bg-img" src="/img/temp/temp_bg01.jpg" alt="">
              </div>
            </div>

          </div>

