<div class='describes-container'>
  <div class='describe-link'><a href='/user/describe?page=about'>Paikuについて</a></div>
  <div class='describe-link'><a href='/user/describe?page=privacy'>プライバシーポリシー</a></div>
  <div class='describe-link'><a href='/user/describe?page=termsOfService'>利用規約</a></div>
  <div class='describe-link'><a href='/user/describe?page=form'>お問い合わせ</a></div>
</div>