<div class='form-container'>
  <h1>お問合せ、ご意見・ご要望</h1>
  <h3>サービスの向上につながるような皆様からのお問合せやご意見、ご要望を受け付けております。</h3>
  <h4><u>内容を送信する前に必ずログインして下さい。</u></h4>

  <div id='form'>
    <label for='name-input'>お名前</label>
    <input type='text' id='name-input' placeholder='名前を入力して下さい' maxlength='50' />
    <label for='contact'>E-mailやSNSなどの連絡手段</label>
    <input type='text' id='contact' placeholder='返信をご希望される方は連絡方法を入力して下さい' maxlength='50' />
    <label for='content'>お問合せ内容</label>
    <textarea name='text' id='content' cols='15' rows='5' maxlength='400'></textarea>
    <button id='submit'>送信</button>
  </div>
  <div class='message'></div>

</div>