<footer>
  <div class='info-container'>
    <div class='info-block block-01'>
      <a href='/user/describe?page=about'>Paikuについて</a>
      <a href='/user/describe?page=privacy'>プライバシーポリシー</a>
    </div>
    <div class='info-block block-02'>
      <p>開発者</p>
      <p><a href='https://twitter.com/aki_composite'>resonant02</a></p>
    </div>
    <div class='info-block block-03'>
      <a href='/user/describe?page=termsOfService'>利用規約</a>
      <a href='/user/describe?page=form'>お問い合わせ</a>
    </div>
  </div>
  <div class='footer-bg'></div>
</footer>