            <div id="mdl-setting-background">
              <div class="mdl-setting-container">
                <ul>
                  <li><button id="update-profile" class="prof-setting-list">プロフィールを編集</button></li>
                  <li><button id="logout" class="prof-setting-list">ログアウト</button></li>
                  <li><button id="logoutAll" class="prof-setting-list">全てからログアウト</button></li>
                </ul>
              </div>
            </div>