<div class="profile-followers-container">
  <div class="target-user-intro">
    <img class="self-icon" src="{{data.avatar}}" alt="{{data.accountName}}">
    <div class="target-names-container">
      <p><strong class="target-displayName">{{data.displayName}}</strong></p>
      <p class="target-accountName">@{{data.accountName}}</p>
    </div>
  </div>
  <div class="follows-wrap">
    <div class="switch-btn" id="follows-btn">フォロー</div>
    <div class="switch-btn" id="followers-btn">フォロワー</div>
  </div>
  <div class="name-cards-container"></div>
</div>