<div class="name-card-pane">
  <div class="wrap-sentence">
    <div id="select-one">
      <p>よりしひの</p>
      <p>梅雨に明け暮れ</p>
      <p>朝日の出</p>
    </div>
  </div>
  <div class="user-profile">
    <div class="wrap-user-head">
      <img class="self-icon" src="/img/temp/temp_icon_02.png" alt="">
      <div class="user-names">
        <p><strong>Tamaki</strong></p>
        <p class="account-name">@tamaki-092</p>
      </div>
    </div>
    <div class="user-intro-wrap">
      <p id="name-card-intro">Javascript, TypeScript, Python,  Node.js, HTML, CSS/FLASK, Express, React/ MongoDB SQL, AWS/UE/ Mazda 3 / Keychron Q1/ 内容に間違いがありましたらご指摘下さい</p>
    </div>
    <div class="card-bottom">
      <button class="unfollow-btn">フォロー解除</button>
    </div>
  </div>
</div>