<nav>
  <div class='nav-container'>
    <a class='logo' href='/home'></a>
    <div class='menu-container'>
      <div class='menu'>
        <div class='menu-btn'><div class='menu-icon latest'></div><p>最新</p></div>
        <div class='menu-btn'><div class='menu-icon ranking'></div><p>ランキング</p></div>
        <div class='menu-btn'><div class='menu-icon theme'></div><p>お題</p></div>
      </div>

    </div>
    <div class='search-container'>
      <input type='text' id='search' autocomplete='off' placeholder='ユーザー検索' />
      <div class='search-img'></div>
    </div>
  </div>
</nav>

{{! modal search user }}
<div class='md-search-black'>
  <div class='md-search-container'>
    <div class='md-search-list'></div>
    <div class='search-next'>- 更に読み込む -</div>
  </div>
</div>