<div class='privacy-container'>
  <h1>プライバシーポリシー</h1>

  <div class='privacy-wrap'>

    <div class='sub-container'>
      <h2>Paikuは日本語で全世界に公開されます</h2>
      <p>投稿されたデータは世界中から検索される可能性があります。</p>
    </div>

    <div class='sub-container'>
      <h2>Paikuは非営利で運営されています</h2>
      <p>集められた情報を金銭を得る目的で第三者に提供することはございません</p>
    </div>

    <div class='sub-container'>
      <h2>広告は掲載しません</h2>
      <p>Paikuによるサービス内への広告の掲載は現在は考えておりません、
        加えてユーザーからの広告の掲載も許可しておりません</p>
    </div>

    <div class='sub-container'>
      <h2>ユーザーデータを私的に集めたりすることはありません</h2>
      <p>集められたデータは他社サービスであるデータベースやクラウドストレージに保管され、
        私的に集めて何かすることはござません。</p>
    </div>

    <div class='sub-container'>
      <h2>集められたデータはサービス向上のため分析、評価いたします</h2>
      <p>使いやすくより良いサービスにするため、データを分析する可能性があります</p>
    </div>

    <div class='sub-container'>
      <h2>データは例外を除いて本人が削除するまで残ります</h2>
      <p>基本的に作成したデータは本人が削除するまでデータベース上に残ります。
        アカウントやその他投稿したデータを消したい場合はご自身で削除していただけると助かります
      </p>
    </div>

    <div class='sub-container'>
      <h2>Cookieを使用します</h2>
      <p>サイトを訪れるたびにログインする手間を省くため、クッキーを使用しています</p>
    </div>

    <div class='sub-container'>
      <h2>他者に危害を加える可能性のあるアカウントや投稿データは本人の許可なく例外として管理者側で削除します</h2>
      <p>昨今の国際事情から、他者に危害を加える発言 - 差別的な言動、性的な発言や画像の投稿、暴力に関する内容に
        関するものは本人の同意なく削除する可能性があります
      </p>
    </div>

    <div class='sub-container'>
      <h2>対象年齢は子どもから大人まで</h2>
      <p>俳句や川柳、575を楽しみたい子どもから大人まで自由に使用してもらえることを想定しています</p>
    </div>

    <div class='sub-container'>
      <h2>サービスの中断、停止</h2>
      <p>セキュリティの問題や開発者の事情により予告なしでメンテナンスや停止を行う可能性があります。
        メンテナンスは予告がないかもしれませんが、サービスを止める場合はお知らせいたします
      </p>
    </div>

    <div class='sub-container'>
      <h2>ポリシーの変更</h2>
      <p>このポリシーは随時必要に応して改訂する場合があります</p>
    </div>

  </div>

</div>