<div class="ranking-block">
  <h2>総合ランキング</h2>
  <img src="/img/icon/icon_slideArrow.svg" alt="Move left" class="page-arrow left-scroll hide"></img>
  <img src="/img/icon/icon_slideArrowRight.svg" alt="Move right" class="page-arrow right-scroll"></img>
  <div class="slide-container" id="slide-box">
    <div class="cards-wrap">
      <p class="rank-number">1</p>
      {{>cardSingle}}
    </div>
    <div class="cards-wrap">
      <p class="rank-number">2</p>
      {{>cardSingle}}
    </div>
    <div class="cards-wrap">
      <p class="rank-number">3</p>
      {{>cardSingle}}
    </div>
    <div class="cards-wrap">
      <p class="rank-number">4</p>
      {{>cardSingle}}
    </div>
    <div class="cards-wrap">
      <p class="rank-number">5</p>
      {{>cardSingle}}
    </div>
  </div>
</div>