<div class='right-side-container'>
  <div class='right-side-wrap'>
    <div class='right-side-content'>
      <div class='index-describe-container'>
        <a href='/user/describe?page=about'>Paikuについて</a>
        <a href='/user/describe?page=privacy'>ブライバシーポリシー</a>
        <a href='/user/describe?page=form'>Paikuについて</a>
      </div>
    </div>
  </div>
</div>