<div class='setting account-container' name='{{userProfile.userId}}'>
  <h2>設定</h2>
  <div class='check-account-wrap'>
    <h3>アカウント情報</h3>
    <p>確認するにはパスワードを入力してください。</p>
    <form>
      <small class='alert confirm-alert'></small>
      <input type='password' class='check-pass' id='check-pass' placeholder='パスワードを入力' />
      <small class='forget-pass'><a href='/user/settings/forgot-password'>パスワードを忘れましたか？</a></small>
      <button class='checkPass-submit'>確認する</button>
    </form>
  </div>
</div>