<br class='terms-container'>
  <h1>利用規約</h1>

  <p>1. 本サービスはどなたでも利用できますが法律により使用を制限されている、または管理者から強制退会させられたユーザーに関しては
    その適用外とします。
  </p></br>

  <p>2. プライバシーに関しては<a href="/user/describes?page=privacy">プライバシーポリシー</a>のページをご覧下さい</p></br>

  <p>3. 現在Paikuはベータ版として発信しており、非営利のアプリとして制作しています。
    ユーザーの皆様から集められたデータ、例えば個人情報であるメールアドレス、パスワード以外にもプロフィールデータ、
    投稿した句のデータ、アバターなどの画像データの権利は本来投稿された皆様ユーザーに帰属するものであると考えますが、
    Paikuにデータを投稿した時点で一時的にこちらに権利を移したものとみなします。
    これは何か悪意があるというものではなく、サービスが初期段階の開発中のものであるため、サービスの中断やサーバーの移行、不具合により
    データベースや投稿画像が破棄される可能性があるため、その際の被害による請求を防衛するためのものです。</p></br>

  <p>4. ユーザーが投稿したコンテンツは本人が責任を負うものとします。不快、危害、脅迫、差別、虚偽といった内容を投稿しないようにお願い致します。
    そのようなコンテンツを発見した際、場合によっては削除する可能性があります。
  </p>

</div>