:root {
  --bg-color: #e4e7e1;
  --font-color: #707070;
  --card-color: #f9fcf6;
  --button-color: #4bbaa2;
  --title-color: #4e4e4e;
  --hover-color: #acaeab;
  --alert-color: #da4e3e;
  --accent-color: #ffc31d;
  --tagHover-color: #dae3dc;
  --account-color: #878787;
}
