.post-msg-container {
  position: fixed;
  background-color: var(--button-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 10px;
  right: 50%;
  height: 50px;
  border-radius: 10px;
  padding: 10px 30px;
  transform: translateX(50%);
  animation: popup 0.6s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
}

.post-msg-container p {
  font-weight: bold;
  text-align: center;
}

@keyframes popup {
  0% {
    transform: translateX(50%) translateY(40px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateX(50%) translateY(0) scale(1);
  }
  80%,
  100% {
    opacity: 1;
  }
}
